@{
    ViewData["Title"] = "Robots";
}

<div class="text-center">
    <h1 class="display-4">Robots</h1>
    <p>See the <a href="https://www.youtube.com/playlist?list=PLmd_iQzqWVNHD55k1KAkim2qKjnlOvQc5">ROBOTS!!!</a>.</p>
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
<div>@ViewData["GraphApiUserRoles"]</div>
